*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;;
}



.container{
    margin: 0 auto;
}


h1{
    font-size: 2em;
    text-align: center;
}

h2{
    font-size: 1.5em;
    text-align: center;
}

hr{
    font-weight: bold;
    height: 3px;
    background: black;
}


body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #faf8f8 0%, #faeded 50%, #fadbdb 100%);
    transition: all ease-in-out .9s;
}


main{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.game{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.game button{
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(58, 57, 57);
    cursor: pointer;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game button:nth-child(1),
.game button:nth-child(2),
.game button:nth-child(3){
    border-top: none;
}

.game button:nth-child(1),
.game button:nth-child(2),
.game button:nth-child(3){
    border-top: none;
}


.game button:nth-child(1),
.game button:nth-child(4),
.game button:nth-child(7){
    border-left: none;
}

.game button:nth-child(3),
.game button:nth-child(6),
.game button:nth-child(9){
    border-right: none;
}

.game button:nth-child(7),
.game button:nth-child(8),
.game button:nth-child(9){
    border-bottom: none;
}




.winning-message{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba( 0, 0, 0, 0.7);
    gap: 10px;
}

.winning-message button{
    font-size: 1.5rem;
    padding: 8px;
    color: rgb(23, 116, 23);
    background-color: rgb(158, 238, 158);
    border: 2px solid rgb(135, 226, 135);
    border-radius: 2px;
    cursor: pointer;
    transition: all ease .7s;
}
.winning-message button:hover{
    color: white;
    background-color: rgb(23, 116, 23);
    border: 2px solid rgb(23, 116, 23);
}


.winning-message p{
    font-size: 2em;
    color: rgb(240, 248, 237);
}
